<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Big 5</title>

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="main.js"></script>

    <style>
        .row {
            margin-bottom: 15px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <h1>The Big 5</h1>
        <div class="row">
            <div class="col-sm-10">
                <input class="form-control" id="requested">
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary form-control" id="searchbtn">Search</button>
            </div>
        </div>
        <div id="database">
            <div class="row" id="area1">
                
            </div>
            <div class="row" id="area2"></div>
            <div class="row" id="area3"></div>
            <div class="row" id="area4"></div>
            <div class="row" id="area5"></div>
        </div>
    </div>
</body>

</html>
